<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.pacer.daily</string>
        <key>Program</key>
        <string>PROGRAM_PATH</string>
        <key>ProgramArguments</key>
        <array>
            <string>PYTHON_PATH</string>
            <string>PROGRAM_PATH</string>
            <string>daily</string>
        </array>
        <key>WorkingDirectory</key>
        <string>PROGRAM_DIRECTORY</string>
        <key>StartCalenderInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>2</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>3</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>4</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>5</integer>
            </dict>
        </array>
    </dict>
</plist>